body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.bg-image {
    background-image: url('02.jpg'); /* Ganti dengan path gambar yang sesuai */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
